/*
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Major+Mono+Display&family=Monofett&family=Ubuntu+Mono&display=swap');

--------------------- CSS Rule ---------------------

font-family: 'IBM Plex Mono', monospace;
font-family: 'Major Mono Display', monospace;
font-family: 'Monofett', cursive;
font-family: 'Ubuntu Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Major+Mono+Display&family=Monofett&family=Ubuntu+Mono&display=swap');

body{
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace;
}
.main{
    margin: 0px;
}
.main_core{
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 0px;
}
h1{
    margin: 0px;
}
p{
    display: table-row;
}
form{
    display: table;
    font-family: 'Ubuntu Mono', monospace;
}
label{
    display: table-cell;
}
input{
    display: table-cell;
}
.btn{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14px;
    margin-left: 5px;
    overflow: auto;
}
.btn_generate{
    margin: 0px;
}
.radio{
    font-family: 'Ubuntu Mono', monospace;
}
footer{
    font-size: 12px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}
.link{
    color:dodgerblue;
    font-weight: 800;
}
.link :visited{
    color: dodgerblue;
}
.btn_auto_gen_stat{
    margin-top: 5px;
}
.header{
    margin-left: 5px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
}
.error{
    margin-left: 5px;
    font-size: 28px;
    font-weight: 1000;
}
.rainbow{
    background: linear-gradient(to left, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 10s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.spoiler > div{
    background-color: bisque;
    opacity: 0;
    transition: opacity 1.5s;
    display: inline;
}
.spoiler:hover > div{
    opacity: 1;
    transition: opacity 1.5s;
    display: inline;
}
.warning{
    color:crimson;
    font-weight: 600;
}
ul{
    margin-bottom: 0px;
    margin-top: 0px;
}
.back_button{
    font-size: 98px;
    width:80px;
    height:90px;
    margin-left: 20px;
    font-weight: 1000;
}
a{
    color: black;
    text-decoration: none;
}
.exal{
    font-weight: 700;
}
.swal-text{
    font-weight: 800;
}