<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='image/quantum.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/main.js') }} "></script>
    <title>Help</title>
</head>
<body>
    <h1>Help</h1>
    <div class="main">
        <div class="main-core">
            <div class="content">
                How to use this application did you ask ? Hmmm ok <span class="spoiler"><div>Don't blame me if I cannot write proper documentation</div></span>
                <ul>
                    <li>Iteration -> How many digit you want</li>
                    <li>Shots -> This will increase your accuracy number generated.<span class="warning">WARNING IT WILL SLOW THE SERVER IF YOU APPLY >= 4096 PROPOTIONAL WITH HOW MANY NUMBER DIGIT YOU GENERATE</span></li>
                    <li>Qubit Count -> How many qubit you want it will generate how many digit you have, in conjunction with iteration</li>
                    <li>Auto Iteration -> How many number you want generate</li>
                    <li>Result -> It will print out result (number) to text area below</li>
                    <li>Binary Form -> It will generate binary form from representative number<span class="spoiler"><div class="rainbow exal">[0110010]</div></span></li>
                    <li>Digit -> How many digit from generated number</li>
                    <li>All info -> Print out all information above</li>
                    <li>Bar -> Display bar chart for Auto Generate Statistics</li>
                    <li>Heatmap -> Display heatmap chart for Auto Generate Statistics</li>
                    <li>Scatter map -> Display scatter chart for Auto Generate Statistics</li>
                    <li>Generate -> It will generate number according with Iteration, Shots, Qubit Count, and output you selected or set</li>
                    <li>Clear -> Clear all output and set all option to defualt value</li>
                    <li>Auto Generate - > It will generate how many number you give</li>
                    <li>Auto Generate Statistics -> it will show chart according what you choose.<span class="spoiler"><div class="warning">For now this feature have severe bug which matplotlib and seaborn chart not working / not displayed</div></span></li>
                </ul>
            </div>
            <div class="back_button">
                <a title="Back" class="rainbow back" href ="/"><</a>
            </div>
        </div>
    </div>
</body>
</html>