<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='image/quantum.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="application/javascript" src=" {{ url_for('static', filename='js/main.js') }} "></script>
    <title>Quantum Random Number Generator</title>
</head>
<body>
    <h1>QRNG Simulator</h1>
    <div class="main">
        <div class="main_core">
            <form class="main_form" method="POST">
                <p>
                    <label class="lbl_iteration">Iteration: </label>
                    <input type="number" name="iteration" id="iteration" min="1" max="10000" value="1">
                </p>
                <p>
                    <label class="lbl_shots">Shots: </label>
                    <input type="number" name="shots" id="shots" min="32" max="65536" step="1" value="32">
                </p>
                <p>
                    <label class="lbl_qubit">Qubit Count:</label>
                    <input type="number" name="qubit" id="qubit" min="1" max="5" value="1">
                </p>
                <p>
                    <label class="lbl_auto_iter">Auto Iteration: </label>
                    <input type="number" name="auto_iter" id="auto_iter" min="1" max="10000" value="1">
                </p>
                <hr class="hr_radio">
                <p class="radio_btn">
                    <label for="radio_result">Result</label>
                    <input type="radio" class="radio" name="radio_select" id="radio_result" value="rslt" checked>
                </p>
                <p class="radio_btn">
                    <label for="radio_binary">Binary form</label>
                    <input type="radio" class="radio" name="radio_select" id="radio_binary" value="bin">
                </p>
                <p class="radio_btn">
                    <label for="radio_digit">Digit</label>
                    <input type="radio" class="radio" name="radio_select" id="radio_digit" value="digit">
                </p>
                <p class="radio_btn">
                    <label for="radio_hex">Hexadecimal</label>
                    <input type="radio" class="radio" name="radio_select" id="radio_hex" value="hex">
                </p>
                <p class="radio_btn">
                    <label for="radio_oct">Octadecimal</label>
                    <input type="radio" class="radio" name="radio_select" id="radio_oct" value="oct">
                </p>
                <p class="radio_btn">
                    <label for="radio_all">All info</label>
                    <input type="radio" class="radio" name="radio_select" id="radio_all" value="all">
                </p>
                <hr class="radio">
                <p>
                    <label for="radio_bar">Bar</label>
                    <input type="radio" class="radio" name="radio_chart" id="radio_bar" value="bar" checked>
                </p>
                <p>
                    <label for="radio_heatmap">Heat map</label>
                    <input type="radio" class="radio" name="radio_chart" id="radio_heatmap" value="heatmap">
                </p>
                <p>
                    <label for="radio_scatter">Scatter Map</label>
                    <input type="radio" class="radio" name="radio_chart" id="radio_scatter" value="scatter">
                </p>
                <input type="submit" class="btn_generate btn" value="Generate !">
                <input type="button" class="btn_clear btn" value="Clear !">
                <!-- <input type="button" class="btn_export btn" value="Export !"> -->
                <input type="button" class="btn_auto_gen btn" value="Auto Generate !">
                <input type="submit" class="btn_auto_gen_stat btn" value="Auto Generate Statistics">
            </form>
            <textarea id="txt_result" class="txt_area_result" name="txt_result" rows="5" cols="54" readonly>{{ results }}</textarea>
        </div>
    </div>
    <footer>&copy; Felix "AF&Ouml;&Eacute;K" MONTALFU 2021 <br/> For <a class="link" title="Help usage" href="help">Help</a></footer>
</body>
</html>